{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="container"  >
    <div class="text-dark text-center" style="margin-top:15%;background-image: url('https://img.republicworld.com/republic-prod/stories/promolarge/xhdpi/c20gqydyxbbt0jo0_1593062345.jpeg');background-repeat: no-repeat center center fixed;background-size:cover" >
        <h4>I am Festus Mutie,an interactive developer based in Kenya.

        </h4>
        
        <a href="{% url 'projects' %}" class="btn btn-sm btn-info mt-4">Welcome to my portfolio</a>
    </div>

</div>
{% endblock %} 